* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background:black;
  font-size: 28px;
  font-family: 'Orbitron', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #35393b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

#navbar {
  overflow: hidden;
  background-color:black;/*#071a20;*/
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 17px 25px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: white;
  color: black;
}

#navbar a.active {
  background-color:black;
  color: white;
}

img {
    display: block;
}

.content {          
  padding: 0px;
  background-color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.topnav-right {
  float: right;
}

#logo-container img {
   width: 100%;
   height: auto;
}


footer {
   position: sticky;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
   background: black;
   color: white;
}

.footer-list {
float: right;
color: white;
}

.col-md-12 {
font-size: 1vw;
padding-top: 2px;
}

p {
  font-size: 20px;
  text-align: center;
  color: white;
}

#ftr {
  text-align: left;
  padding: 17px 25px;
  color: white;
}

.titles{
  color: white;
  font-size: 30px;
  text-align: center;
}


.accordion {
  cursor: pointer;
  background-color:black;
  padding: 18px;
  width: 100%;
  border: 1px solid black;
  color:white;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.categories{
  /*color: #35393b;
  border: 3px solid #35393b;*/
  color: black;
  border: 3px solid white;
  background: white;
  border-radius: 10px;
  padding: 18px;
  width: 10%;
  margin:auto;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left;
  outline: none;
  font-size: 25px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.accordion:after {
  content: '\002B';
  color: #35393b;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  color:white;
}

.active:after {
  content: "\2212";
  color:white;
}

.active, .accordion:hover, #acco1:hover{
  background-color: #35393b;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: black;
  overflow: hidden;
}

.center {
  margin: auto;
  width: 60%;
  border: 3px solid white;
  padding: 5px;
  text-align: center;
}

.pfaq{
  width:60%;
  margin:auto;
  padding:5px;
}



i {
  color:white;
  margin: 3px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

